/* common shared styles */

* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  border-radius: 8px;
  background: #e55473;
  border: 0px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  padding: 20px 45px;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}

.section-description {
  color: #272727;
  text-align: center;
  font-size: 18px;
}
/* heading related styles */
.header {
  background: #e554731a;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .flower-pic {
  width: 635px;
}

.banner-greeting {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  max-width: 700;
}
.banner-description {
  color: #272727;
  font-size: 18px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 32px;
}

.banner-content {
  max-width: 635px;
}

main {
  max-width: 1140px;
  margin: 0px auto;
}
section {
  margin: 130px 0px;
}
#feature-flowers {
  padding: 25px 50px;
}

/* .flower-container {
  display: flex;
  gap: 32px;
}

.flower {
  align-items: center;
  border-radius: 300px 300px 0px 0px;
  padding: 110px 76px;
}
.flowerimg {
  width: 310px;
}
#pngwing6 {
  background: rgba(167, 33, 98, 0.15);
}

.flower-link {
  color: #272727;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-inline: auto;
} */
